* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

ol,
ul,
li {
    list-style: none;
}

a,
button {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}

img {
    vertical-align: middle;
}

input {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    width: 100%;
    background: 0 0;
    border-radius: 0;
    text-align: left;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
    outline: 0;
}
